/*Style do index:*/
body {
    background-color: #000000;
}
h1 {
    color: #ffffffe0;
}
ol {
    color: #ff00d4e0;
}
.conteudo{
    padding: 2%;
    background-color: #3E065F;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}
.conteudo a{
    padding: 1%;
    color: #ffae00;
    text-decoration: none;
}
.conteudo a:hover{
    color: #ffffffe0;
    transition-duration: 1.5s;
}

/*Sugestões*/
#tituloSug{
    display: flex;
    margin-top: 5%;
    margin-left: 40%;
}
.contate{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
}
#buttom{
    display: flex;
    margin-top: 1.5%;
    margin-left: 92%;
    justify-content: center;

    width: 55px;
    height: 25px;
    border-radius: 40%;
}

/*Stye de músicas:*/
h3 {
    font-size: 3vw;
    color: #ffae00;
    text-align: center;
}
h2 {
    color: #ffae00;
    font-size: 2vw;
}
.flexvideo {
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(25, 0, 49);
}
.video {
    display: flex;
    justify-content: center;
    margin: 1vw;
}
.lyrics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.also{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.traducao, .letra{
    margin: 5vw;
}
p {
    color: #ffffffe0;
    font-style: italic;
    font-size: 1.5vw;
}
music {
    color: #ffae00;
}
/*Geral:*/
#main{
    display: flex;
}
#logo{
    display: flex;
    border-radius: 50%;
    
    width: 4vw;
    height: 4vw;
}
#mainTitulo{
    display: flex;
    margin-left: 1.5%;
    margin-top: 0.5%;

    font-size: 3vw;
}
.socialmedia{
    width: 2vw;
    height: 2vw;
}
header {
    display: flex;
    justify-content: center;
    background-color: #ffae00;
  }
  
  .redd {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 3.5rem;
    list-style: none;
  }
  
  .redd a {
    text-decoration: none;
    color: #ffffffe0;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 5px 25px;
    border-radius: 1.5rem;
  }
  header .redd a:hover{
      color: #3E065F;
      transition-duration: 2.5s;
  }
  footer{
      margin-top: 5%;
  }

